body {
    font-family: 'Montserrat', sans-serif ;
}

header {
    background:#bbbbbb;
    padding: 20px;
}

.caixa {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

nav li{
    display: inline;
    margin:0 0 0 15PX;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;

}

nav a:hover {
    color: red;
    text-decoration: underline;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

.produtos {
    width: 1000px;
    margin:  0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin:  0 1.5%;
    padding: 30PX 20PX;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
}

.produtos li:hover {
    border-color: rgb(227, 100, 100);
}

.produtos li:active{
    border-color: green;
}

.produtos li:hover h2 {
    font-size: 35px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-preco {
    font-size:25px;
    font-weight: bold;
    margin: 10PX;
}

.produto-descricao {
    font-size:20px;
    font-weight: bold;
    margin-top: 10px;

}

footer{
    background: url("bg.jpg");
    text-align: center;
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.horario {
    margin: 30px 0 10px;
}

.checkbox {
    margin: 30px 0 10px;
}

.enviar {

    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s background;
    transition: 1s transform;
    cursor: pointer;

}

.enviar:hover {
    background: darkorange;
    transform: rotate(10deg) scale(1.2);
}

table {
    margin: 20px 0 40px;
    border: 5px double #000000;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*A partir deste ponto começa o CSS da pagina inicial*/

.banner{
    width: 100%;
}

.tituloPrincipal {
    text-align: center;
    font-size: 2em;
    margin: 0.5em 0 1em;
    clear: left;
    text-shadow: 2px 2px rgb(194, 180, 180);
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.principal{
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.mapa {
    padding: 3em 0;
    background:linear-gradient(#fefefe, #888888);
}

.mapaConteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.beneficios{
    background: #888888;
    padding: 3em;
}

.conteudoBeneficios {
    width: 700px;
    margin: 0 auto;
}

.listaBeneficios {
    width: 40%;
    display: inline-block;
    /* display inlina-block não pode ter espaços em vazios entre os itens para funcionar 100%*/
    vertical-align: top;
}

.itens {
    line-height: 1.5;
    /* line-heihgt mexe no espaçamento das linhas*/
}
.itens:first-child{
/* Pseudo-classes
.itens:nth-child(2) seleciona qualquer item da lista
.itens:last-child seleciona o ultimo numéro da lista*/
    font-weight: bold;
}

.itens::before {
    content: "✯ ";
}

.imagemBeneficios {
    width: 60%;
    opacity: 1;
    transition: 500ms;
    box-shadow: 5px 10px 10px black;
}

.imagemBeneficios:hover {
    opacity: 0.3;
}

.video {
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudoBeneficios, 
    .mapaConteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .listaBeneficios, .imagemBeneficios{
        width: 100%;
    }

}